<aside class="sidebar">

    <div class="sidebar-logo">
        🎓 Crack<span>It</span>
    </div>


    <div class="profile-mini">

        <div class="avatar">
            {{ user_name[0]|upper }}
        </div>

        <div>

            <strong>
                {{ user_name }}
            </strong>

            <small>
                Student
            </small>

        </div>

    </div>


    <nav class="side-nav">

        <a href="{{ url_for('dashboard') }}"
           class="{% if request.endpoint == 'dashboard' %}active{% endif %}">
            <span>⌂</span>
            Dashboard
        </a>


        <a href="{{ url_for('exams') }}"
           class="{% if request.endpoint in ['exams','exam_details'] %}active{% endif %}">
            <span>📘</span>
            Exams
        </a>


        <a href="{{ url_for('tests') }}"
           class="{% if request.endpoint in ['tests','test','result'] %}active{% endif %}">
            <span>📝</span>
            Mock Tests
        </a>


        <a href="{{ url_for('materials') }}"
           class="{% if request.endpoint == 'materials' %}active{% endif %}">
            <span>📚</span>
            Study Materials
        </a>


        <a href="{{ url_for('roadmap') }}"
           class="{% if request.endpoint == 'roadmap' %}active{% endif %}">
            <span>🗺</span>
            Roadmap
        </a>


        <a href="{{ url_for('dashboard') }}">
            <span>📊</span>
            Performance
        </a>


        <a href="{{ url_for('notifications') }}"
           class="{% if request.endpoint == 'notifications' %}active{% endif %}">
            <span>🔔</span>
            Notifications
            <b class="notification-dot">4</b>
        </a>


        <a href="{{ url_for('profile') }}"
           class="{% if request.endpoint == 'profile' %}active{% endif %}">
            <span>👤</span>
            Profile
        </a>

    </nav>


    <a class="logout"
       href="{{ url_for('logout') }}">
        🚪 Logout
    </a>

</aside>